

.jumbotron{
    margin-top: 20px;
    background-color: aqua;
    background-image: url("https://assets.marthastewart.com/styles/wmax-750/d29/baked-cake-donut-7000185-1217/baked-cake-donut-7000185-1217_horiz.jpg?itok=u2jvutxq");
}
ul li {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}

body{
    background-color:lightcoral;
}

#button1 {
    margin:10px;
    
}
#button2 {
    margin: 10px;
}
#button3{
    margin:10px;

}
#button4{
    margin: 10px;


}


